@use 'variables';
@use 'shadcn';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background font-montserrat font-normal text-base text-foreground;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @apply font-semibold;
}

h1, .h1 {
  @apply text-2xl;
}

h2, .h2 {
  @apply text-xl;
}

h3, .h3 {
  @apply text-lg;
}

h4, .h4 {
  @apply text-base;
}

h5, .h5 {
  @apply text-sm;
}

h6, .h6 {
  @apply text-xs;
}

strong {
  @apply font-semibold;
}

b {
  @apply font-bold;
}

a[href] {
  @apply transition-colors duration-300;
}

button {
  @apply outline-border-none;
}

.content {
  @apply py-xl;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
